<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="">
    <div class="my-auto">
        <h2 class="mb-5">The developing web was updated, nowadays everybody works with this new Framework </h2>

        <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
                <h3 class="mb-0">The programmer's corner</h3>
                <div class="subheading mb-3">Autor: Roberto Gonzalez Vargas</div>
                <p>
                    Today we will talk about new technologies for developing web, I work some projects with this technologies, We see clients and his needs and is important, but some technologies see also our needs like developers, my recommendation is according my point
                    of view in the workflow that each and the tools that those offers.
                </p>
                <p>
                    It mixes the backend and the frontend and you will be a good programmer, separate the frontend and the backend and you will be the best programmer, how is possible? We haven’t passed to hacks attacks in vain, the web security every day improves and if
                    they haven’t learned this, maybe they should change your career. I can see programmers in the comments "everybody can develop your application as they want" but there are rules, guides and good practices that improve the way to develop
                    and the security of user and all environment.
                </p>
                <div class="w-100 ">
                    <img src="../../../assets/img/roberto/component-tree.png" alt="" class="img-fluid">
                </div>
                <br>
                <p>

                    I was programming yesterday and I can feel all power that MVC and programming modular with Angular, I wanted to dance with emotion, we believed in Google when it bought Angular and change his structure, the learning curve is more but the advantages are
                    formidable, I was doubting with the change but my team convinced me to use, and wow! The modularity, the components, the tools, and compatibilities are awesome.

                </p>
                <div class="w-100">
                    <img src="../../../assets/img/roberto/AngularvsReact-Preview.jpg" alt="" class="img-fluid">
                </div>
                <br>
                <p>
                    PHP, I will not use you tonight, develop with angular is more awesome, Will you use too? You should but not all, also we use React-js and those two technologies they are revolutionizing the world how programming in the web, the components natives or reactives
                    be the future of the web. I am going to learn more about React-js because didn't see to full and Redux is another thing quite interesting that talk after. See you later.
                </p>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">Published November 2018</span>
            </div>
        </div>

        <div class="subheading">Categories</div>
        <ul class="list-inline dev-icons">
            <li class="list-inline-item">
                <i class="fab fa-html5"></i>
            </li>
            <li class="list-inline-item">
                <i class="fab fa-js-square"></i>
            </li>
            <li class="list-inline-item">
                <i class="fab fa-react"></i>
            </li>
            <li class="list-inline-item">
                <i class="fab fa-angular"></i>
            </li>
        </ul>
    </div>

</section>
<hr class="m-0">

<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="">
    <div class="my-auto">
        <h2 class="mb-5">The spiderman has come back!</h2>

        <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
                <h3 class="mb-0">Game Review</h3>
                <div class="subheading mb-3">Autor: Roberto Gonzalez Vargas</div>
                <p>
                    The year was shocked by spiderman, the Sony release "Spiderman" for the PS4, It has been a news that shocked all the fans of the arachnid, the memories of childhood come to our mind to play the amazing title with the spectacular graphic section that accompanies
                    the generation. But it is not the first time that Sony uses the arachnid this is working, isn't it? Swinging through the streets of New York as the amazing climbs walls will always be amazing.
                </p>
                <div class="w-100 ">
                    <img src="../../../assets/img/roberto/3400004-spiderman-e3.jpg" alt="" class="img-fluid">
                </div>
                <br>
                <p>
                    He was received after by fans, the sales of the game increased much later, before and during the launch of the video game, the mechanics so polished, the graphics and well, spiderman! Made this one of the best games of 2018, selling millions of copies
                    in a few weeks, you bought the game, didn't you? Undoubtedly this is one of the games that can’t miss in your repertoire.
                </p>


            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">Published November 2018</span>
            </div>
        </div>

        <div class="subheading">Categories</div>
        <ul class="list-inline dev-icons">
            <li class="list-inline-item">
                <i class="fas fa-newspaper"></i>
            </li>
            <li class="list-inline-item">
                <i class="fas fa-gamepad"></i>
            </li>
            <li class="list-inline-item">
                <i class="fas fa-spider"></i>
            </li>
        </ul>
    </div>

</section>