<!-- ============================================================== -->
<!-- SIDEBAR NAV  -->
<!-- ============================================================== -->

<app-nav></app-nav>

<!-- ============================================================== -->
<!-- FIN SIDEBAR NAV  -->
<!-- ============================================================== -->

<!--CONTENEDOR GLOBAL-->
<div class="container-fluid p-0">

    <!-- ============================================================== -->
    <!-- HOME  -->
    <!-- ============================================================== -->

    <app-home></app-home>

    <!-- ============================================================== -->
    <!-- FIN HOME  -->
    <!-- ============================================================== -->

    <!-- ============================================================== -->
    <!-- PRIMER CUATRIMESTRE  -->
    <!-- ============================================================== -->

    <app-primercuatrimestre></app-primercuatrimestre>

    <!-- ============================================================== -->
    <!-- FIN PRIMER CUATRIMESTRE  -->
    <!-- ============================================================== -->

    <!-- ============================================================== -->
    <!-- SEGUNDO CUATRIMESTRE  -->
    <!-- ============================================================== -->

    <app-segundocuatrimestre></app-segundocuatrimestre>

    <!-- ============================================================== -->
    <!-- FIN SEGUNDO CUATRIMESTRE  -->
    <!-- ============================================================== -->

    <!-- ============================================================== -->
    <!-- TERCER CUATRIMESTRE  -->
    <!-- ============================================================== -->

    <app-tercercuatrimestre></app-tercercuatrimestre>

    <!-- ============================================================== -->
    <!-- FIN TERCER CUATRIMESTRE  -->
    <!-- ============================================================== -->

    <!-- ============================================================== -->
    <!-- CUARTO CUATRIMESTRE  -->
    <!-- ============================================================== -->

    <app-cuartocuatrimestre></app-cuartocuatrimestre>

    <!-- ============================================================== -->
    <!-- FIN CUARTO CUATRIMESTRE  -->
    <!-- ============================================================== -->
</div>
<!--FIN DEL CONTENEDOR GLOBAL-->