<!-- ============================================================== -->
<!-- SIDEBAR NAV  -->
<!-- ============================================================== -->

<app-nav></app-nav>

<!-- ============================================================== -->
<!-- FIN SIDEBAR NAV  -->
<!-- ============================================================== -->

<!--CONTENEDOR GLOBAL-->
<div class="container-fluid p-0">

    <!-- ============================================================== -->
    <!-- HOME  -->
    <!-- ============================================================== -->

    <div data-aos="fade-left" data-aos-duration="1500">
        <app-home id="home"></app-home>
    </div>

    <!-- ============================================================== -->
    <!-- FIN HOME  -->
    <!-- ============================================================== -->

    <!-- ============================================================== -->
    <!-- PRIMER CUATRIMESTRE  -->
    <!-- ============================================================== -->

    <div data-aos="fade-left" data-aos-duration="1500">
        <app-primercuatrimestre></app-primercuatrimestre>
    </div>

    <!-- ============================================================== -->
    <!-- FIN PRIMER CUATRIMESTRE  -->
    <!-- ============================================================== -->

    <!-- ============================================================== -->
    <!-- SEGUNDO CUATRIMESTRE  -->
    <!-- ============================================================== -->

    <div data-aos="fade-left" data-aos-duration="1500">
        <app-segundocuatrimestre id="second"></app-segundocuatrimestre>
    </div>

    <!-- ============================================================== -->
    <!-- FIN SEGUNDO CUATRIMESTRE  -->
    <!-- ============================================================== -->

    <!-- ============================================================== -->
    <!-- TERCER CUATRIMESTRE  -->
    <!-- ============================================================== -->

    <div data-aos="fade-left" data-aos-duration="1500">
        <app-tercercuatrimestre id="third"></app-tercercuatrimestre>
    </div>

    <!-- ============================================================== -->
    <!-- FIN TERCER CUATRIMESTRE  -->
    <!-- ============================================================== -->

    <!-- ============================================================== -->
    <!-- CUARTO CUATRIMESTRE  -->
    <!-- ============================================================== -->

    <div data-aos="fade-left" data-aos-duration="1500">
        <app-cuartocuatrimestre id="fourth"></app-cuartocuatrimestre>
    </div>

    <!-- ============================================================== -->
    <!-- FIN CUARTO CUATRIMESTRE  -->
    <!-- ============================================================== -->
</div>
<!--FIN DEL CONTENEDOR GLOBAL-->