<!-- ============================================================== -->
<!-- SIDEBAR NAV  -->
<!-- ============================================================== -->

<app-nav></app-nav>

<!-- ============================================================== -->
<!-- FIN SIDEBAR NAV  -->
<!-- ============================================================== -->

<!--CONTENEDOR GLOBAL-->
<div class="container-fluid p-0">

    <!-- ============================================================== -->
    <!-- HOME  -->
    <!-- ============================================================== -->

    <app-home id="home"></app-home>

    <!-- ============================================================== -->
    <!-- FIN HOME  -->
    <!-- ============================================================== -->

    <!-- ============================================================== -->
    <!-- PRIMER CUATRIMESTRE  -->
    <!-- ============================================================== -->

    <app-primercuatrimestre id="first"></app-primercuatrimestre>

    <!-- ============================================================== -->
    <!-- FIN PRIMER CUATRIMESTRE  -->
    <!-- ============================================================== -->

    <!-- ============================================================== -->
    <!-- SEGUNDO CUATRIMESTRE  -->
    <!-- ============================================================== -->

    <app-segundocuatrimestre id="second"></app-segundocuatrimestre>

    <!-- ============================================================== -->
    <!-- FIN SEGUNDO CUATRIMESTRE  -->
    <!-- ============================================================== -->

    <!-- ============================================================== -->
    <!-- TERCER CUATRIMESTRE  -->
    <!-- ============================================================== -->

    <app-tercercuatrimestre id="third"></app-tercercuatrimestre>

    <!-- ============================================================== -->
    <!-- FIN TERCER CUATRIMESTRE  -->
    <!-- ============================================================== -->

    <!-- ============================================================== -->
    <!-- CUARTO CUATRIMESTRE  -->
    <!-- ============================================================== -->

    <app-cuartocuatrimestre id="fourth"></app-cuartocuatrimestre>

    <!-- ============================================================== -->
    <!-- FIN CUARTO CUATRIMESTRE  -->
    <!-- ============================================================== -->
</div>
<!--FIN DEL CONTENEDOR GLOBAL-->