<section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
    <div class="my-auto">
        <h1 class="mb-0">Revista
            <span class="text-primary">GeekZone</span>
        </h1>
        <div class="subheading mb-5">Universidad Tecnologica de Tabasco · Villahermosa, Carretara vhsa-teapa ·
            <a href="mailto:name@email.com">geekzone-revista@hotmail.com</a>
        </div>
        <p class="lead mb-5">
            La revista número uno del estado en de tecnología, cinecia, videojuegos y más.
        </p>
        <div class="my-auto">
            <h2 class="mb-3">Alumnos <small>(4to SP)</small>:</h2>
            <ul class="fa-ul mb-0">
                <li>
                    <i class="fa-li fa fa-trophy text-warning"></i> CARLOS ADRIAN GARCÍA REYES - 421510121_i
                </li>
                <hr>
                <li>
                    <i class="fa-li fa fa-trophy text-warning"></i> DWIGTH ASTACIO HERNANDEZ - 421510099_i
                </li>
                <hr>
                <li>
                    <i class="fa-li fa fa-trophy text-warning"></i> ROBERTO GONZALEZ VARGAS - 421510170_i
                </li>
                <hr>
                <li>
                    <i class="fa-li fa fa-trophy text-warning"></i> DAVID MONTORES ESCALANTE - 421510021_i
                </li>


            </ul>
        </div>
    </div>
</section>

<hr class="m-0">