<!-- ARTICLE 1 -->

<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
    <div class="my-auto">
        <h2 class="mb-5"> Character Who Look Like People </h2>

        <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
                <h3 class="mb-0">Edith Head inspired Edna Mode!!</h3>
                <div class="subheading mb-3">Author: David Montores Escalante</div>
                <p>
                    In the world of animation, we found that many of the characters that we see there went inspired by real people. In the world of animation, we found that many of the characters that we see there went inspired by real people. An excellent example of the
                    paragraph above is how the Pixar animators were inspired by the fashion designer "Edith Head" to create a character of their own that retains great similarity of who takes their inspiration, this character is "Edna Mode" of the movie
                    "The Incredibles"

                </p>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">Published: November 2018</span>
            </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
                <h3 class="mb-0">Edna Mode</h3>
                <img class="img-fluid" src="../../../assets/img/david/Imagen6.jpg" alt="">
                <p>
                    The first thing that we note about Edna is her giant black round glasses, this is one of the icons that define her. Very near at her glasses, we found her nose, with round shape and appearance like a pomegranate. Her short hair gives her a certain kind
                    of elegance that consolidates her unique style. She counts with two big eyes of black color that made an inquisitive look on her. The shape of her body is petite and she is very tiny. She is passionate about everything that has to
                    see with the fashion, and she is a species of genius, her brain is always thinking on how to improve her designs. Her personality is outgoing and she is always talking. And she detests the capes.
                </p>
            </div>
        </div>
        <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
                <h3 class="mb-0">Edith Head</h3>
                <img class="img-fluid" src="../../../assets/img/david/Imagen2.jpg" alt="">
                <p>
                    One similar quality of Edith are her round glasses, in this case, are not so big like in the animated version but they have the same relevance. A big difference between the character and Edith is her nose, this person has an aquiline nose. Another characteristic
                    they share is their hair, only that Edith has it a cut-hair more realistic. Both women have the same inquisitive look in her big black eyes, given it to her a pose of power. Edith is a small person that count with a big responsibility.
                    A very important thing that their share, and the cause that Edith was the inspiration for the creation of Edna, is the love to design beautiful pieces of art that can be used as clothes. The personality of Edith contrast a bit with
                    the Edna, she was not very expressive by the words, she preferred to communicate with the world through her dresses and other designs.

                </p>
            </div>
        </div>

        <div class="subheading">Categories</div>
        <ul class="list-inline dev-icons">
            <li class="list-inline-item mr-4">
                <i class="fas fa-glasses"></i>
            </li>
            <li class="list-inline-item mr-4">
                <i class="fas fa-book-reader"></i>
            </li>
        </ul>
    </div>

</section>
<hr class="m-0">

<!-- ARTICLE 2 -->

<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
    <div class="my-auto">
        <h2 class="mb-5"> characters that are loved and hated</h2>

        <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
                <h3 class="mb-0">Darth Sidious almost destroy the entire galaxy!!</h3>
                <h3 class="mb-0">Robin Williams almost destroy our hearts.</h3>
                <div class="subheading mb-3">Author: David Montores Escalante</div>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">Published: November 2018</span>
            </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
                <h3 class="mb-0">Ryan Reynolds</h3>
                <div class="subheading mb-3">We love him</div>
                <img class="img-fluid" src="../../../assets/img/david/Imagen3.jpg" alt="">
                <p>
                    Ryan Rodney Reynolds (born October 23, 1976) is a Canadian actor, film producer and screenwriter, best known for playing the Marvel character Deadpool. In 2016, he starred as the title character in Deadpool. The film received critical and commercial acclaim
                    and set numerous records at the time of its release for an R-rated comedy. For his performance, Reynolds received numerous accolades, including nominations for the Critics' Choice Movie Awards and the Golden Globe Awards. He reprised
                    the role in Deadpool2, which he also co-wrote. Reynolds was named People's Sexiest Man Alive in 2010 and was awarded a star on the Hollywood Walk of Fame in 2017. He is married to actress Blake Lively, with whom he has two children.
                    Besides all this he is one of the most loved and respected Hollywood actors by his fans, this due to his extroverted personality, his kindness, and his charisma. The actor has short brown hair, has a triangular head, small black eyes
                    which reflect compassion and tenderness. He has a hooked nose and a small mouth that always shows a smile. He is also a little muscular and his light beard gives him an aspect of youth and gallantry.
                </p>
            </div>
        </div>
        <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
                <h3 class="mb-0">Darth Sidious</h3>
                <div class="subheading mb-3">We hate him</div>
                <img class="img-fluid" src="../../../assets/img/david/Imagen4.jpg" alt="">
                <p>
                    Palpatine is the primary antagonist of Episodes I-VI in the Star Wars franchise. In the original trilogy, he is depicted as the extremely aged, pale-faced and cloaked Emperor of the Galactic Empire and the Sith master of Darth Vader. In the prequel trilogy,
                    he is portrayed as a charismatic Senator in early old age from Naboo who uses deception and political manipulation to rise to the position of Supreme Chancellor of the Galactic Republic before transforming the Republic into the Empire.
                    The previous little introduction allows us to understand why he is one of the most hated characters in science fiction. For the purposes of this description, we will narrate how Palpatine was after becoming a complete Sith. He has
                    wrinkled and pale skin in an extreme way, almost as if he were 200 years old. He has two big deep-set yellow eyes and a big, grotesque nose. His thin lips and a macabre smile, that give him a demon aspect. All that terrifying aspect
                    is hidden behind a black hood that covers most of the face.
                </p>
            </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
                <h3 class="mb-0">Robin Williams</h3>
                <div class="subheading mb-3">We love him too late</div>
                <img class="img-fluid" src="../../../assets/img/david/Imagen5.jpg" alt="">
                <p>
                    Robin Williams was an American actor and comedian. Born in Chicago, Williams began performing stand-up comedy in San Francisco and Los Angeles in the mid-1970s and is credited with leading San Francisco's comedy renaissance. After rising to fame playing
                    the alien Mork in the sitcom Mork & Mindy, Williams established a career in both stand-up comedy and feature film acting. He was known for his improvisation skills and the wide variety of memorable character voices he created. Williams
                    has been called the funniest person of all time. On August 11, 2014, Williams committed suicide in his Paradise Cay, California home. His body was cremated at Montes Chapel of the Hills in San Anselmo and his ashes were scattered over
                    San Francisco Bay the day after his death. This actor has thin lips that gave him a sweet and kind face. His nose was big and aquiline and his small blue eyes made him have a compassionate and warm look. The shape of his head was square
                    and his short brown hair and a bit grey gave him an appearance of someone wise.
                </p>
            </div>
        </div>

        <div class="subheading">Categories</div>
        <ul class="list-inline dev-icons">
            <li class="list-inline-item mr-4">
                <i class="fas fa-glasses"></i>
            </li>
            <li class="list-inline-item mr-4">
                <i class="fas fa-book-reader"></i>
            </li>
        </ul>
    </div>

</section>
<hr class="m-0">

<!-- ARTICLE 3 -->

<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
    <div class="my-auto">
        <h2 class="mb-5"> The Technology Hub</h2>

        <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
                <h3 class="mb-0">Sillicon Valley the city of the future!!</h3>
                <div class="subheading mb-3">Author: David Montores Escalante</div>
                <img class="img-fluid" src="../../../assets/img/david/7.jpg" alt="">
                <p>
                    Sillicon Valley is a region in the southern San Francisco Bay Area of Northern California which serves as a global center for high technology, innovation, and social media. It corresponds roughly to the geographical Santa Clara Valley. San Jose is the
                    Valley's largest city, the third largest in California, and the tenth largest in the United States. Other major Silicon Valley cities include Palo Alto, Menlo Park,Cupertino, Santa Clara, Mountain View, and Sunnyvale.[1] The San Jose
                    Metropolitan Area has the third highest GDP per capita in the world (after Zurich, Switzerland and Oslo, Norway), according to the Brookings Institution. Silicon Valley's first internationally known art gallery, Pace Art and Technology
                    Gallery in Menlo Park, opened on February 6, 2016. In 1928, the Allied Arts Guild was formed in Menlo Park and is a complex of artist studios, shops, restaurant, and gardens.

                </p>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">Published: November 2018</span>
            </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
                <h3 class="mb-0">The Pace Gallery
                </h3>
                <p>
                    The JAMsj was established in November 1987. It grew out of a 1984-86 research project on Japanese American farmers in the Santa Clara Valley. The farming project collected family histories, historical photographs, private memoirs and other unpublished
                    documents and led to the development of a curriculum package on Japanese American history, which was adopted for use by the San Jose Unified and East Side Union High School Districts. JAMsj's workshop on developing family histories
                    provided documentary materials and photos included in the award-winning book Japanese Legacy: Farming and Community Life in California's Santa Clara Valley (1985) co-authored by Timothy J. Lukes, Ph.D. and Gary Y. Okihiro, Ph.D.

                </p>
            </div>
        </div>
        <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
                <h3 class="mb-0">The Starry Night
                </h3>
                <img class="img-fluid" src="../../../assets/img/david/8.jpg" alt="">
                <p>
                    The Starry Night is an oil on canvas and possibly the most famous work of art by the Dutch post-impressionist painter Vincent van Gogh. Painted in June 1889, it depicts the view from the east-facing window of his asylum room at Saint-Rémy-de-Provence,
                    just before sunrise, with the addition of an idealized village. It has been in the permanent collection of the Museum of Modern Art in New York City since 1941, acquired through the Lillie P. Bliss Bequest. Regarded as among Van Gogh's
                    finest works, The Starry Night is one of the most recognized paintings in the history of Western culture.


                </p>
            </div>
        </div>

        <div class="subheading">Categories</div>
        <ul class="list-inline dev-icons">
            <li class="list-inline-item mr-4">
                <i class="fas fa-glasses"></i>
            </li>
            <li class="list-inline-item mr-4">
                <i class="fas fa-book-reader"></i>
            </li>
        </ul>
    </div>

</section>
<hr class="m-0">


<!-- ARTICLE 4 -->

<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
    <div class="my-auto">
        <h2 class="mb-5"> How To Make a Videogame
        </h2>
        <img class="img-fluid" src="../../../assets/img/david/9.jpg" alt="">

        <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
                <h3 class="mb-0">Follow this steps to create your own game</h3>
                <div class="subheading mb-3">Author: David Montores Escalante</div>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">Published: November 2018</span>
            </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
                <h3 class="mb-0">Step 1
                </h3>
                <p>
                    Download free, easy to use game design software.  No matter what kind of game you're designing, you’ll need software to create it. Look for software with simple programming features so you don’t have to write individual lines of code. Look at the features
                    of the software and download the one that works best for you. Some software that you can easily build your first game in include GameMaker, Twine, RPG Maker, Scratch, and Stencyl. The programs offer free downloads, but they may put
                    watermarks in your game. If you want to make a 3D game, try using Unity. You will need to make 3D models for characters and levels using other software, such as Blender or Maya.
                </p>
            </div>
        </div>
        <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
                <h3 class="mb-0">Step 2
                </h3>
                <p>
                    Follow along with beginner video tutorials for your software.  Look up videos and walkthroughs on how to work with the game design software you downloaded. Many of the tutorials will walk you through the basic functions of how to program your characters
                    and levels to do simple functions. Familiarize yourself with the program as best as you can. Check the software’s website to see if they have any official manuals or tutorials. That way, you’ll be learning from the people who know
                    the software best. If you don’t like how one program works, try another until you find something that you like.
                </p>
            </div>
        </div>
        <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
                <h3 class="mb-0">Step 3
                </h3>
                <p>
                    Practice by making a simple game. Once you learn a program from tutorials, try to recreate a simple game, like Pong, Pac-Man, or Snake. Only use the basic art that the software provides and use what you learned from the video tutorials you watched to
                    help program the game. Once you’re finished, test the game to see if it works. Only try to make simple games with easy gameplay. That way, you can test out the basics of the program for yourself. If you’re stuck, look up videos or
                    walkthroughs on how to recreate the game. Set a deadline for yourself, such as completing the project in 1 week, so you don't spend too much time on it.

                </p>
            </div>
        </div>
        <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
                <h3 class="mb-0">Step 4
                </h3>
                <p>
                    Pick a genre for your game. Each type of game has rules or design elements that need to be included. Choose a genre that you enjoy playing and want to create yourself. Once you pick one for your game, focus on playing games in that genre to get a better
                    understanding of what mechanics you should include. Common genres for games include first-person shooters, platformers, role-playing games, and puzzle games. Try putting 2 genres together to make an interesting combination of games.
                    For example, you may make a puzzle game that’s also a platformer. Play a variety of games to see what you might want to include in your own.


                </p>
            </div>
        </div>
        <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
                <h3 class="mb-0">Step 5
                </h3>
                <p>
                    Play your game to make sure it functions how you want it. Once you finish building your prototype, export the file to a playable game. Test out your levels to make sure your characters and levels are behaving as you want them to. Take notes on your game
                    of things that you need to fix, such as character sprites falling through the level’s floor. Try pressing a few buttons at the same time to see how the actions interact with one another.


                </p>
            </div>
        </div>
        <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
                <h3 class="mb-0">Step 6
                </h3>
                <p>
                    Add sound effects and music to the game. Sounds and music put the finishing touches on your game and make it feel complete. Look for royalty-free sound effects and music online if you don’t want to create your own. Otherwise, record and edit the sounds.
                    Put a sound action in your programming so the sounds play at the right time. Websites like http://www.freesound.org offer community-recorded sounds that you can use in any project.

                </p>
            </div>
        </div>

        <div class="subheading">Categories</div>
        <ul class="list-inline dev-icons">
            <li class="list-inline-item mr-4">
                <i class="fas fa-glasses"></i>
            </li>
            <li class="list-inline-item mr-4">
                <i class="fas fa-book-reader"></i>
            </li>
        </ul>
    </div>

</section>
<hr class="m-0">