<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
    <div class="my-auto">
        <h2 class="mb-5">Information about the recent hacking of our servers.</h2>
        <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
                <h3 class="mb-0"></h3>
                <div class="subheading mb-3">Autor: Dwigth Astacio Hernández</div>
                <img src="../../../assets/img/dwigth/whathollywoo.jpg" class="img-fluid" alt="Responsive image">
                <p>
                    It is well known to everyone whose follow our news that in recent days our servers have been attacked with malicious software injected through the mail services, the director of our security department has written a letter to communicate the status of
                    the situation:
                </p>
                <em>
                    December 01, 2018
                    <br>
                    Mr. Osvaldo Biticuará
                    <br>
                    Managing Director
                    <br>
                    GeekZone
                    <br>
                    508 Ficus
                    <br>
                    San Francisco, CA 33102
                    <br>
                    <p class="mt-3"></p>
                    Dear Mr Biticuará

                    Thank you very much for letting us know about the hack happened last Tuesday, your notice helped us
                    to effectively work the problem.
                    <br >
                    <p class="mt-2"></p>
                    I am very grateful to the community that supports us, giving us feedback on the errors, this was of
                    vital importance due to the multiple instances of the same error. In the same way we communicate
                    that the situation of the company is safe and that the error has been patched completely.
                    <p class="mt-2"></p>

                    Thank you very much again.
                    <p class="mt-3"></p>
                    <br>
                    Sincerely Yours,
                    <p class="mt-2"></p>

                    <br>
                    Christian Vega
                    <br>
                    Head of computer security

                </em>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">Published: November 2018</span>
            </div>
        </div>

        <div class="subheading">Categorias</div>
        <ul class="list-inline dev-icons">
            <li class="list-inline-item">
                <i class="fab fa-html5"></i>
            </li>
            <li class="list-inline-item">
                <i class="fab fa-css3-alt"></i>
            </li>
            <li class="list-inline-item">
                <i class="fab fa-js-square"></i>
            </li>
            <li class="list-inline-item">
                <i class="fab fa-angular"></i>
            </li>
        </ul>
    </div>

</section>
<hr class="m-0">
<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
    <div class="my-auto">
        <h2 class="mb-5">BioWare's Anthem Having Alpha Test Very Soon!</h2>

        <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
                <h3 class="mb-0">Anthem releases next year, but you might be able to play it in December.</h3>
                <div class="subheading mb-3">Autor: Dwigth Astacio Hernández</div>
                <hr>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/ZFwylDNpgFc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <p>
                    You may soon have the chance to try out the new Destiny-esque action game from BioWare, Anthem. EA has announced an upcoming closed alpha test, and sign-ups for it are now live. As outlined on EA's website, the test will be quite brief--it'll run from
                    December 8-9, though it'll be available on all three of the game's platforms: PS4, Xbox One, and PC. The test will not be available for the entirety of the two days, as there will instead by "multiple sessions" spread across the weekend.
                    <br> In terms of the alpha's purpose, EA explains, "It's an opportunity for you to check out Anthem but we'll also be adjusting things like matchmaking and server load on the fly. These Community Playtests are more limited than what
                    we want to share in the pre-launch demos. All of these factors combined mean that we're making access to our Playtests limited, which is where the 'closed' part of the name comes from." Sign-ups are now live, and you can register your
                    interest here. You aren't guaranteed access just by signing up, and you'll need a PlayStation Plus or Xbox Live Gold membership on PS4 and Xbox One, respectively. When registering your interest, you'll need to pick the specific platforms
                    and time windows you're hoping to participate in. Participants will be bound by a non-disclosure agreement. That means, barring any leaks, you shouldn't expect to see players sharing any thoughts, screenshots, or videos from the alpha
                    test. If you don't get in, this won't mark your only chance to try the game before launch. EA and BioWare have plans to offer an Anthem demo next year, and EA/Origin Access members will presumably get their usual limited early access
                    to the game as well. Its full release is set for February 22. Outside of Anthem, BioWare is at work on the future of Mass Effect. It also just recently teased that Dragon Age news is coming very soon.
                </p>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">Published: November 2018</span>
            </div>
        </div>

        <div class="subheading">Categorias</div>
        <ul class="list-inline dev-icons">
            <li class="list-inline-item">
                <i class="fab fa-html5"></i>
            </li>
            <li class="list-inline-item">
                <i class="fab fa-css3-alt"></i>
            </li>
            <li class="list-inline-item">
                <i class="fab fa-js-square"></i>
            </li>
            <li class="list-inline-item">
                <i class="fab fa-angular"></i>
            </li>
        </ul>
    </div>

</section>
<hr class="m-0">